{% import _self as formMacros %}
{% macro actionRow(actionForm) %}
    <div class="url-item">
        {{ form_errors(actionForm) }}
        <div class="d-flex align-items-end">
            <div class="pr-2">
                {{ form_row(actionForm.url) }}
            </div>
            <div>
                {{ form_row(actionForm.code) }}
            </div>
            <div class="p-2 mb-2">
                <button type="button" class="btn btn-danger btn-action-remove">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}


<div class="mb-5">
    {{ form_start(form) }}
    <div class="d-flex">
        <div class="mr-3">{{ form_row(form.serveur) }}</div>
        <div>
            <label>Site</label>
            <div class="input-group mb-3">
                {{ form_widget(form.protocol) }}
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">://</label>
                </div>
                {{ form_widget(form.domain) }}
            </div>
        </div>
    </div>
    <div class="urls"
         data-prototype="{{ formMacros.actionRow(form.urls.vars.prototype)|e('html_attr') }}">
        {% for action in form.urls %}
            {{ formMacros.actionRow(action) }}
        {% endfor %}
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

</div>